:root {
  --whitish: #f5f3ed;
  --blackish: rgb(27, 27, 27);
  --gray-light: #ddd9d3;
  --gray-dark: #5e5e5e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding: 2em;
  background-color: var(--whitish);
  color: var(--blackish);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}
