.card {
  border-radius: 0.25rem;
  background-color: var(--gray-light);
  padding: 1em;
  height: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

.title::first-letter {
  text-transform: capitalize;
}

.text {
  font-size: 1rem;
}
